
<div class="container">
    <div class="row">
      <div class="col-4">
        <img src="assets/images/map.jpg" width="400px">
        <div class="container">
          <div class="row">
             <div class="col-lg-12 col-sm-12 col-md-12"><br/>
                <div class="contact-info">
                    <i class="ti-email"></i>
                    <h4>Correo</h4>
                    <p>cafepassas@gmail.com</p>
                </div>
            </div>
            <div class="col-lg-12 col-sm-12 col-md-12">
                 <div class="contact-info">
                    <i class="ti-mobile"></i>
                    <h4>Teléfono</h4>
                    <p>+57 310 3778 241 </p>
                </div>
            </div>
            <div class="col-lg-12 col-sm-12 col-md-12">
                <div class="contact-info">
                    <i class="ti-location-pin"></i>
                    <h4>Dirección</h4>
                    <p>Calle 50 40 81 Bodega A1 del parque industrial Jacob, Tulua - Valle</p>
                </div>
            </div>
            <div class="col-lg-12 col-sm-12 col-md-12">
              <div class="contact-info">
                  <i class="ti-location-pin"></i>
                  <img
                    width="50px"
                    alt="Cafepas S.A.S"
                    src="assets/images/wp.png"
                  />&nbsp;<a href="https://api.whatsapp.com/send?phone=0123456789&text=Hola, Nececito mas informacion!">Envíanos un mensaje de WhatsApp</a>
              </div>
          </div>
        </div>
    </div>
      </div>
      <div class="col-6"><div>
        <form>
             <h2>Contáctenos</h2>
            <br/>
          <div class="form-group">
            
            <label for="name">Nombre completo</label>
            <input  type="text" name="name" class="form-control" id="name" aria-describedby="nameHelp"><br/>

            <label for="email">Email</label>
            <input  type="text" name="email" class="form-control" id="email" aria-describedby="emailHelp"><br/>

            <label for="description">Descripción</label>
            <textarea  name="description" class="form-control" id="description" aria-describedby="descHelp">
            </textarea>
          </div>
        </form>
        <button class="btn btn-primary" (click)="enviar()">Enviar</button>
      </div></div>
    </div>
  </div><br/><br/><br/><br/><br/>

