<div class="container">
    <h2 class="titleprod">Catálogo</h2>
    <div class="row gap-y">
        <div class="col-md-6 col-xl-4">
            <div class="product-3 mb-3">
                <a class="product-media" href="#">
                    <span class="badge badge-pill badge-primary badge-pos-left">New</span>
                    <img height="60px" width="110px" src="../../../assets/images/cafemolido.png"/>
                </a>
                <div class="product-detail">
                    <h6><a href="#">Café Molido</a></h6>
                    <div class="product-price">$35.000</div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-4">
            <div class="product-3 mb-3">
                <a class="product-media" href="item.html">
                    <span class="badge badge-pill badge-success badge-pos-right">-25%</span>
                    <img height="60px" width="110px" src="../../../assets/images/cafegrano.jpeg"/>
                </a>

                <div class="product-detail">
                    <h6><a href="#">Café grano</a></h6>
                    <div class="product-price"><s>$60.000</s> $52.000</div>
                </div>
            </div>
        </div>


        <div class="col-md-6 col-xl-4">
            <div class="product-3 mb-3">
                <a class="product-media" href="item.html">
                    <span class="badge badge-pill badge-success badge-pos-right">-20%</span>
                    <img src="https://http2.mlstatic.com/D_NQ_NP_2X_746580-MCO49643953169_042022-F.webp" alt="product">
                </a>

                <div class="product-detail">
                    <h6><a href="#">Hanging Speaker</a></h6>
                    <div class="product-price"><s>$32.000</s> $28.000</div>
                </div>
            </div>
        </div>


        <div class="col-md-6 col-xl-4">
            <div class="product-3 mb-3">
                <a class="product-media" href="item.html">
                    <img height="60px" width="110px" src="../../../assets/images/cafetostado.png"/>
                </a>

                <div class="product-detail">
                    <h6><a href="#">Café tostado</a></h6>
                    <div class="product-price">$65.000</div>
                </div>
            </div>
        </div>


    
        <div class="col-md-6 col-xl-4">
            <div class="product-3 mb-3">
                <a class="product-media" href="#">
                    <span class="badge badge-pill badge-primary badge-pos-left">New</span>
                    <img height="60px" width="110px" src="../../../assets/images/cafecrudo.jpeg"/>
                </a>
                <div class="product-detail">
                    <h6><a href="#">Café crudo</a></h6>
                    <div class="product-price">$25.000</div>
                </div>
            </div>
        </div>


        <div class="col-md-6 col-xl-4">
            <div class="product-3 mb-3">
                <a class="product-media" href="#">
                    <span class="badge badge-pill badge-primary badge-pos-left">New</span>
                    <img src="https://http2.mlstatic.com/D_NQ_NP_2X_753664-MCO49644315948_042022-F.webp" alt="product">
                </a>
                <div class="product-detail">
                    <h6><a href="#">Café Sin Moler</a></h6>
                    <div class="product-price">$23.500</div>
                </div>
            </div>
        </div>
    </div>


    <nav class="mt-7">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#">
                    <span class="fa fa-angle-left"></span>
                </a>
            </li>
            <li class="page-item active">
                <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">
                    <span class="fa fa-angle-right"></span>
                </a>
            </li>
        </ul>
    </nav>
</div><br/><br/>