<div class="container">
  <div class="row">
    <div class="col-12">
            <ngb-carousel *ngIf="images">
              <ng-template ngbSlide>
                <div class="picsum-img-wrapper" style="text-align: center;">
                  <img [src]="images[0]" alt="Random first slide" height="500px" width="700px;">
                </div>
                <div class="carousel-caption">
                  <h3>Café de Miel</h3>
                  <p>Nuestro mas espectacular <br/> elixir</p>
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="picsum-img-wrapper" style="text-align: center;">
                  <img [src]="images[1]" alt="Random second slide" height="500px" width="700px;">
                </div>
                <div class="carousel-caption">
                  <h3>Café tacuba</h3>
                  <p>La textura del chanelle <br/> en tu boca</p>
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="picsum-img-wrapper" style="text-align: center;">
                  <img [src]="images[2]" alt="Random third slide" height="500px" width="700px;">
                </div>
                <div class="carousel-caption">
                  <h3>Café</h3>
                  <p>Presenta nuestros sabores del <br/> café Valluno.</p>
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="picsum-img-wrapper" style="text-align: center;">
                  <img [src]="images[3]" alt="Random fourth slide" height="500px" width="700px;">
                </div>
                <div class="carousel-caption">
                  <h3>Café</h3>
                  <p>Presenta nuestros productos</p>
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="picsum-img-wrapper" style="text-align: center;">
                  <img [src]="images[4]" alt="Random fifth slide" height="500px" width="700px;">
                </div>
                <div class="carousel-caption">
                  <h3>Pastas</h3>
                  <p>Conoce nuestra variedad <br/> en pastas</p>
                </div>
              </ng-template>
              
            </ngb-carousel>
            <div class="compania"><br/>
              <div class="Misión">
                <h3>Mision</h3>
                <span>CAFEPAS S.A.S es una empresa Vallecaucana con mas de 40 años de experiencia en la distribución
                  de productos alimenticios y de aseo para el hogar en la zona Norte del Valle y Quindío, contando con la
                  exclusividad en la distribución de las marcas Águila roja y Pastas Nuria.
                  Nuestro portafolio de productos esta dirigido al canal tradicional y autoservicios, contando con una estructura
                  logística propia y un recurso humano competente, que nos permite garantizar un servicio oportuno y de calidad,
                  actuando con sana competencia, lealtad frente a nuestros clientes, proveedores y competidores, que nos garantiza
                  la sostenibilidad del negocio.
                </span>
              </div><br/>
              <div class="Visión">
                <h3>Vision</h3>
                <span>CAFEPAS S.A.S será en el año 2020 una empresa distribuidora líder de la región, con una alta cobertura de la marca AGUILA ROJA y PASTAS NURIA dentro de nuestra zona de 
                  cobertura y con un amplio portafolio de productos alimenticios de primera necesidad y aseo del hogar, generando con ello un nivel de composición en ventas generando el retorno
                   esperado por los accionistas. Consolidarse en el enfoque de Comercializadora fuerte en otras zonas a las señaladas como exclusivas, abarcar distribución a nivel departamental
                </span>
              </div>
            </div>
      </div>
    </div>
 </div>         